schemas/NO_NDFL6.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл  -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<!---*************************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Присутствие ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ">
								<sch:rule context="Документ">
									<!-- 2. Контроль  обязательности  присутствия  ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ -->
									<sch:assert test=" (Подписант/ФИО and Подписант/@ПрПодп=2) or (Подписант/ФИО and Подписант/@ПрПодп=1 and СвНП/НПЮЛ) or 		( ( (Подписант/ФИО) or  not(Подписант/ФИО) )  and Подписант/@ПрПодп=1 and СвНП/НПФЛ) ">
										<usch:error code="0400300003" path="Подписант/ФИО" value-of-select="Подписант/@ПрПодп"> Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/ФИО при значении элемента ПрПодп, равном "<usch:value-of select="Подписант/@ПрПодп"/>". </usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*************************************************************************************************************************************************************-->
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation>Сведения о налоговом агенте</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation>Налоговый агент - организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвРеоргЮЛ" minOccurs="0">
														<xs:annotation>
															<!---*********************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="Присутствие атрибутов ИННЮЛ и КПП">
																	<sch:rule context="СвРеоргЮЛ">
																		<!-- 7. Контроль  обязательности  присутствия  атрибутов  ИННЮЛ  и  КПП  в  зависимости  от  значения  атрибута  ФормРеорг       -->
																		<sch:assert test=" (count(@ИННЮЛ)!=0 and @ФормРеорг!=0) or (count(@ИННЮЛ)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@ИННЮЛ" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/ИННЮЛ при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																		<sch:assert test=" (count(@КПП)!=0 and @ФормРеорг!=0) or (count(@КПП)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@КПП" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/@КПП при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---*********************************************************************************************************************************-->
															<xs:documentation>Сведения о реорганизованной организации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ФормРеорг" use="required">
																<xs:annotation>
																	<xs:documentation>Код формы реорганизации</xs:documentation>
																	<xs:documentation>Принимает значение:
                                                                        0 – ликвидация   |
                                                                        1 – преобразование   |
                                                                        2 – слияние   |
                                                                        3 – разделение   |
                                                                        5 – присоединение   |
                                                                        6 – разделение с одновременным присоединением
                                                                    </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН реорганизованной организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="optional">
																<xs:annotation>
																	<xs:documentation>КПП реорганизованной организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Наименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="required">
													<xs:annotation>
														<xs:documentation>КПП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<xs:documentation>Налоговый агент - физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="ОКТМО" type="ОКТМОТип" use="required">
										<xs:annotation>
											<xs:documentation>Код по ОКТМО</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Тлф" use="optional">
										<xs:annotation>
											<xs:documentation>Номер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="Подписант">
												<!-- 3. Контроль  обязательности  присутствия  Сведений  о  представителе  налогоплательщика  в  зависимости  от  значения  ПрПодп  -->
												<sch:assert test="usch:iif(@ПрПодп=2, count(СвПред)!=0, (count(СвПред)!=0 or count(СвПред)=0))">
													<usch:error code="0400300003" path="@ПрПодп" value-of-select="@ПрПодп">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/СвПред при значении элемента ПрПодп, равном "<usch:value-of select="@ПрПодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о представителе налогового агента</xs:documentation>
												<xs:documentation><![CDATA[Элемент обязателен при <ПрПодп>=2]]></xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование и реквизиты документа, подтверждающего полномочия представителя налогового агента</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимОрг" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование организации - представителя налогового агента</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
											<xs:documentation>Принимает значение:
                                            1 – налоговый агент   |
                                            2 – представитель налогового агента
                                        </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="НДФЛ6">
								<xs:annotation>
									<xs:documentation>Расчет сумм налога на доходы физических лиц, исчисленных и удержанных налоговым агентом (форма 6-НДФЛ)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ОбобщПоказ">
											<xs:annotation>
												<xs:documentation>Обобщенные показатели</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СумСтавка" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения по суммам в зависимости от ставки налога</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Ставка" use="required">
																<xs:annotation>
																	<xs:documentation>Ставка налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НачислДох" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма начисленного дохода</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="17"/>
																		<xs:fractionDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НачислДохДив" use="required">
																<xs:annotation>
																	<xs:documentation>В том числе сумма начисленного дохода в виде дивидендов</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="17"/>
																		<xs:fractionDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ВычетНал" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налоговых вычетов</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="17"/>
																		<xs:fractionDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИсчислНал" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма исчисленного налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИсчислНалДив" use="required">
																<xs:annotation>
																	<xs:documentation>В том числе сумма исчисленного налога на дохода в виде дивидендов</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="АвансПлат" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма фиксированного авансового платежа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="КолФЛДоход" use="required">
													<xs:annotation>
														<xs:documentation>Количество физических лиц, получивших доход</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="7"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УдержНалИт" use="required">
													<xs:annotation>
														<xs:documentation>Сумма удержанного налога, итого по всем ставкам</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НеУдержНалИт" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, не удержанная налоговым агентом, итого по всем ставкам</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ВозврНалИт" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом, итого по всем ставкам</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ДохНал" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Даты и суммы фактически полученных доходов и удержанного налога на доходы физических лиц</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СумДата" maxOccurs="unbounded">
														<xs:annotation>
															<!---*********************************************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="Контроль значения СрокПрчслНал в зависимости от значения ДатаУдержНал">
																	<sch:rule context="СумДата">
																		<!-- 4. Контроль значения СрокПрчслНал в зависимости от значения ДатаУдержНал  -->
																		<sch:assert test="usch:iif(@ДатаУдержНал='00.00.0000', @СрокПрчслНал='00.00.0000',  @СрокПрчслНал!='00.00.0000'  )">
																			<usch:error code="0400400007" path="@СрокПрчслНал" value-of-select="@СрокПрчслНал">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/НДФЛ6/ДохНал/СумДата/СрокПрчслНал при значении элемента ДатаУдержНал, равном "<usch:value-of select="@ДатаУдержНал"/>".</usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---*********************************************************************************************************************************************************-->
															<xs:documentation>Сведения по суммам в зависимости от дат</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ДатаФактДох" use="required">
																<xs:annotation>
																	<xs:documentation>Дата фактического получения дохода</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="10"/>
																		<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
																		<xs:pattern value="[0]{2}\.[0]{2}\.[0]{4}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаУдержНал" use="required">
																<xs:annotation>
																	<xs:documentation>Дата удержания налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="10"/>
																		<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
																		<xs:pattern value="[0]{2}\.[0]{2}\.[0]{4}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СрокПрчслНал" use="required">
																<xs:annotation>
																	<xs:documentation>Срок перечисления налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="10"/>
																		<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
																		<xs:pattern value="[0]{2}\.[0]{2}\.[0]{4}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ФактДоход" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма фактически полученного дохода</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="17"/>
																		<xs:fractionDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="УдержНал" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма удержанного налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы документа по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1151099"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation>
                                    Дата в формате ДД.ММ.ГГГГ
                                </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Период" use="required">
							<xs:annotation>
								<xs:documentation>Период представления (код)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="21"/>
									<xs:enumeration value="31"/>
									<xs:enumeration value="33"/>
									<xs:enumeration value="34"/>
									<xs:enumeration value="51"/>
									<xs:enumeration value="52"/>
									<xs:enumeration value="53"/>
									<xs:enumeration value="90"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Налоговый период (год)</xs:documentation>
								<xs:documentation>
                                    Год в формате ГГГГ
                                </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПоМесту" use="required">
							<xs:annotation>
								<xs:documentation>Код по месту нахождения (учета)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="120"/>
									<xs:enumeration value="124"/>
									<xs:enumeration value="125"/>
									<xs:enumeration value="126"/>
									<xs:enumeration value="213"/>
									<xs:enumeration value="214"/>
									<xs:enumeration value="215"/>
									<xs:enumeration value="216"/>
									<xs:enumeration value="220"/>
									<xs:enumeration value="320"/>
									<xs:enumeration value="335"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки кроме 50</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-4A-Z]{1}[0-9A-Z]{1}|5[1-9A-Z]{1}|[6-9A-Z]{1}[0-9A-Z]{1})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КБКТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора доходов в бюджет </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКТМОТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
