schemas/SRCHIS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by KSV (GNIVC FNS RF) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Fayl-->
	<xs:element name="Fayl">
		<xs:annotation>
			<xs:documentation>Сведения о среднесписочной численности работников за предшествующий календарный год</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!--IdOtpr-->
				<xs:element name="IdOtpr" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения об отправителе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<!--FIOOtv-->
							<xs:element name="FIOOtv" type="FIOTip">
								<xs:annotation>
									<xs:documentation>Familiya, имя, отчество ответственного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<!--DolzhOtv-->
						<xs:attribute name="DolzhOtv" use="optional">
							<xs:annotation>
								<xs:documentation>Должность ответственного лица</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<!--xs:string-->
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<!--Tlf-->
						<xs:attribute name="Tlf" use="optional">
							<xs:annotation>
								<xs:documentation>Номер контактного телефона</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<!--xs:string-->
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<!--E-mail-->
						<xs:attribute name="E-mail" use="optional">
							<xs:annotation>
								<xs:documentation>E-mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<!--xs:string-->
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<!--Dokument-->
				<xs:element name="Dokument" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<!--SvNP-->
							<xs:element name="SvNP">
								<xs:annotation>
									<xs:documentation>Сведения о налогоплательщике</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<!--NPYuL-->
										<xs:element name="NPYuL">
											<xs:annotation>
												<xs:documentation>Налогоплательщик - юридическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<!--SvRukOrg-->
													<xs:element name="SvRukOrg" type="FIOTip">
														<xs:annotation>
															<xs:documentation>Сведения о руководителе организации</xs:documentation>
														</xs:annotation>
													</xs:element>
													<!--SvPred-->
													<xs:element name="SvPred" type="SvPred">
														<xs:annotation>
															<xs:documentation>Сведения о представителе </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
												<!--NaimOrg-->
												<xs:attribute name="NaimOrg" use="required">
													<xs:annotation>
														<xs:documentation>Полное наименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<!--xs:string-->
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<!--INNYuL-->
												<xs:attribute name="INNYuL" type="INNYuLTip" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<!--KPP-->
												<xs:attribute name="KPP" type="KPPTip" use="required">
													<xs:annotation>
														<xs:documentation>KPP</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<!--NPIP-->
										<xs:element name="NPIP">
											<xs:annotation>
												<xs:documentation>Налогоплательщик - индивидуальный предприниматель</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<!--FIOIP-->
													<xs:element name="FIOIP" type="FIOTip">
														<xs:annotation>
															<xs:documentation>ФИО индивидуального предпринимателя</xs:documentation>
														</xs:annotation>
													</xs:element>
													<!--SvPred-->
													<xs:element name="SvPred" type="SvPred" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о представителе </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<!--INNIP-->
												<xs:attribute name="INNIP" type="INNFLTip" use="required">
													<xs:annotation>
														<xs:documentation>ИНН индивидуального предпринимателя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<!--OpisPerSved-->
							<xs:element name="OpisPerSved">
								<xs:annotation>
									<xs:documentation>Описание передаваемых сведений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<!--KND-->
									<xs:attribute name="KND" use="required">
										<xs:annotation>
											<xs:documentation>Код формы отчетности по KND</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<!--KNDTip-->
											<xs:restriction base="KNDTip">
												<xs:enumeration value="1110018"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<!--DataDok-->
									<xs:attribute name="DataDok" type="DataTip" use="required">
										<xs:annotation>
											<xs:documentation>Дата формирования документа</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<!--SodPerSved-->
							<xs:element name="SodPerSved">
								<xs:annotation>
									<xs:documentation>Содержание передаваемых сведений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<!--DataSredSpChisl-->
									<xs:attribute name="DataSredSpChisl" type="DataTip" use="required">
										<xs:annotation>
											<xs:documentation>Среднесписочная численность по состоянию на дату</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<!--KolChel-->
									<xs:attribute name="KolChel" use="required">
										<xs:annotation>
											<xs:documentation>Среднесписочная численность человек</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<!--xs:integer-->
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<!--IdDok-->
						<xs:attribute name="IdDok" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<!--xs:string-->
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<!--IdFayl-->
			<xs:attribute name="IdFayl" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:string-->
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<!--VersForm-->
			<xs:attribute name="VersForm" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:string-->
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<!--TipInf-->
			<xs:attribute name="TipInf" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:string-->
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="СВЕДСРСПИСЧИСЛ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<!--VersProg-->
			<xs:attribute name="VersProg" use="optional">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:string-->
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<!--KolDok-->
			<xs:attribute name="KolDok" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:integer-->
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--SvPred-->
	<xs:complexType name="SvPred">
		<xs:annotation>
			<xs:documentation>Сведения о представителе налогоплательщика </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<!--FIOPred-->
			<xs:element name="FIOPred" type="FIOTip">
				<xs:annotation>
					<xs:documentation>Familiya, имя, отчество представителя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--NaimOrgPred-->
			<xs:element name="NaimOrgPred">
				<xs:annotation>
					<xs:documentation>Полное наименование организации - представителя </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<!--xs:string-->
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<!--NaimDokPred-->
		<xs:attribute name="NaimDokPred" use="required">
			<xs:annotation>
				<xs:documentation>Наименование документа, подтверждающего полномочия представителя </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<!--xs:string-->
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--FIOTip-->
	<xs:complexType name="FIOTip">
		<xs:annotation>
			<xs:documentation>Familiya, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<!--Familiya-->
		<xs:attribute name="Familiya" use="required">
			<xs:annotation>
				<xs:documentation>Familiya</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<!--xs:string-->
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!--Imya-->
		<xs:attribute name="Imya" use="required">
			<xs:annotation>
				<xs:documentation>Imya</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<!--xs:string-->
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!--Otchestvo-->
		<xs:attribute name="Otchestvo" use="optional">
			<xs:annotation>
				<xs:documentation>Otchestvo</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<!--xs:string-->
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--INNYuLTip-->
	<xs:simpleType name="INNYuLTip">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<!--xs:string-->
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--INNFLTip-->
	<xs:simpleType name="INNFLTip">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction>
			<xs:simpleType>
				<!--xs:string-->
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
			<xs:length value="12"/>
			<xs:pattern value="[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--KPPTip-->
	<xs:simpleType name="KPPTip">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (KPP)</xs:documentation>
		</xs:annotation>
		<!--xs:string-->
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--KNDTip-->
	<xs:simpleType name="KNDTip">
		<xs:annotation>
			<xs:documentation>Код по Классификатору налоговой документации</xs:documentation>
		</xs:annotation>
		<!--xs:string-->
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--DataTip-->
	<xs:simpleType name="DataTip">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
		</xs:annotation>
		<!--xs:string-->
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
